extends layouts/main-layout.pug

block content
  h1.title Not Found
  p.lead.text-center.text-muted
    | Oops! Looks like you're lost.
  p.text-center.text-muted
    | Use the navigation above to get back on track.
